
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(top, #33ccff 0%, #ff99cc 100%);
}
.login{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.4);
    text-align: center;
    
}
.locss{
    margin-bottom: 15px;
    padding: 10px;
    padding-left: 10px;
}
a{
    text-decoration: none;
    color: #000;
}
p{
    display: block;
    font-weight: bold;
}

input{
    padding: 10px;
    border-radius: 10px;
    border-top: #fc8e9b;
    border-right: 0px;
    border-left: 0px;
    border-color: #fc8e9b;
    outline: none;
}
button{
    background-color: rgb(245, 116, 144);
    border-color: rgb(245, 116, 144);
    border-radius: 10px;
    padding: 6px;
    cursor: pointer;
}