.grup{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    list-style-type: none;
    background-color: #abead3;
    padding: 18px;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}
ol a li{
    display: block;
    transition: transform 0.4s ease;
}
ol a li:hover{
    transform: scale(1.2);
}

a{
    text-decoration: none;
    color: #000;
}

.bien{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 5%;
    transform: scale();
}
input{
    outline: none;
    border-color: #ffa9d4;
    border-radius: 10px;
    padding: 5px;
    font-family: cursive;
    
}
label{
    padding: 5px;
    border-radius: 10px;
    background-color: #ffa9d4;
    border-color: #ffa9d4;
    outline: none;
    font-family: cursive;
    text-align: center;
}

.file{
    margin-top: 1rem;  
}
input::file-selector-button {
    font-weight: bold;
    color: black;
    padding: 0.5em;
    border: thin solid #ffa9d4;
    border-radius: 3px;
    background-color: #ffa9d4;
    font-family: cursive;
    cursor: pointer;
}

button{
    padding: 5px;
    border-radius: 10px;
    background-color: #ffa9d4;
    border-color: #ffa9d4;
    outline: none;
    font-family: cursive;
}
.Modal{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

h2{
    font-style: initial;
}
.texto{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: #abead3;
    text-align: center;
}
.tex{
    font-family: cursive;
}

